###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=cc8630018597371d37b4699042b7852c
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###

###> Administrative Credentials ###
# The admin username is fixed as 'admin' in security.yaml
ADMIN_PASSWORD=
###< Administrative Credentials ###

DEFAULT_URI=http://localhost
ALPHA_VANTAGE_KEY=
